<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label>顯示名稱(NL)</label>
        <input type="text" name="twitchId" id="twitchId0" />
      </div>
      <div class="col-md-6">
        <label>顯示名稱(亞統)</label>
        <input type="text" name="twitchId" id="twitchId1" />
      </div>
      <div class="col-md-6">
        <label>輸入內容</label>
        <input type="text" style="width: 300px" name="content" id="content0" />
        <button class="btn btn-primary" onclick="myFunction()">送出</button>
      </div>
      <div class="col-md-6">
        <label>輸入內容</label>
        <input type="text" style="width: 300px" name="content" id="content1" />
        <button class="btn btn-primary" onclick="myGodtoneFunction()">送出</button>
      </div>
      <div class="col-md-12">
        <label>如果可以希望可以微修改顯示名稱(與原名稱不同) 😅 請注意言論，保護代言機器人 😅</label>
      </div>
      <div class="row">
        <div class="col-md-6">
          <iframe id="twitch-chat-embed"
            src="https://www.twitch.tv/embed/never_loses/chat?parent=twitchbot.onrender.com" height="500" width="350">
          </iframe>
        </div>
        <div class="col-md-6">
          <iframe id="twitch-chat-embed"
            src="https://www.twitch.tv/embed/asiagodtonegg3be0/chat?parent=twitchbot.onrender.com" height="500"
            width="350">
          </iframe>
        </div>
      </div>
    </div>
  </div>

  <script src="chat.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
</body>

</html>