<!DOCTYPE html>
<html>
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-6">
        <iframe id="twitch-chat-embed" src="https://www.twitch.tv/embed/never_loses/chat?parent=twitchbot.onrender.com"
          height="500" width="350">
        </iframe>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <iframe id="twitch-chat-embed"
          src="https://www.twitch.tv/embed/asiagodtonegg3be0/chat?parent=twitchbot.onrender.com" height="500"
          width="350">
        </iframe>
      </div>
      <div class="col-4 form-row my-1">
        <div class="col-3">
          <label>顯示名稱</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" name="twitchId" id="twitchId0" />
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4 form-row my-1">
        <div class="col-3">
          <label>顯示名稱</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" name="twitchId" id="twitchId1" />
        </div>
      </div>
      <div class="col-4 form-row">
        <div class="col-3">
          <label>輸入內容</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" name="content" id="content0" />
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4 form-row">
        <div class="col-3">
          <label>輸入內容</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" name="content" id="content1" />
        </div>
      </div>
      <div class="col-4 form-row my-1">
        <div class="col-3">
          <label>Emote</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" id="emote0">
          <div class="col-12 form-row" id="emote_NL">
          </div>
        </div>
      </div>
      <div class="col-2"></div>

      <div class="col-4 form-row my-1">
        <div class="col-3">
          <label>Emote</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" id="emote1">
          <div class="col-12 form-row" id="emote_GT">
          </div>
        </div>
      </div>
      <div class="col-4 form-row">
        <div class="col-6"></div>
        <div class="col-3">
          <button class="btn btn-primary" onclick="myWakeFunction()">守靈</button>
        </div>
        <div class="col-3">
          <button class="btn btn-primary" onclick="myFunction()">送出</button>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4 form-row">
        <div class="col-9"></div>
        <div class="col-3">
          <button class="btn btn-primary" onclick="myGodtoneFunction()">送出</button>
        </div>
      </div>

      <!-- <div class="col-12">
        <label>如果可以希望可以微修改顯示名稱(與原名稱不同) 😅 請注意言論，保護代言機器人 😅</label>
      </div> -->
    </div>
  </div>

  <script src="chat.js"></script>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" /> -->
  <link rel="stylesheet" href="bootstrap.min.css">
</body>

</html>